@{
    Page.Title = "Forum";
    Layout = "~/Shared/_SiteLayout.cshtml";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Login");
    }

    Database db = Database.Open("StarterSite");

    var userClasses = db.QuerySingle("SELECT Class1, Class2, Class3, Class4, Class5, Class6, Class7 FROM Classes WHERE ClassesId = @0", WebSecurity.CurrentUserId);
    var classes = db.Query("SELECT Class, Teacher, LastEdited FROM Homework WHERE Class = @0 OR Class = @1 OR Class = @2 OR Class = @3 OR Class = @4 OR Class = @5 OR Class = @6",
        userClasses.Class1, userClasses.Class2, userClasses.Class3, userClasses.Class4, userClasses.Class5, userClasses.Class6, userClasses.Class7);
    var discussion = db.Query("SELECT DiscussionName, UserName, LastEdited FROM Discussion WHERE FirstPost = 1");
    var itemsForSale = db.Query("SELECT * FROM ItemsForSale");
    var userBag = db.QuerySingle("SELECT * FROM Bag WHERE BagId = @0", WebSecurity.CurrentUserId);
    var item1 = userBag.Item1;
    var item2 = userBag.Item2;
    var item3 = userBag.Item3;
    var item4 = userBag.Item4;
    var item5 = userBag.Item5;
    var nameStrings = db.QuerySingle("SELECT FirstName, LastName FROM UserProfile WHERE UserId = @0", WebSecurity.CurrentUserId);
    string name = nameStrings.FirstName + " " + nameStrings.LastName;
    if (IsPost)
    {
        var item = Request["item"];
        var jellybeans = Request["jellybeans"];

        db.Execute("INSERT INTO ItemsForSale (Item, Jellybeans, UserId, UserName) VALUES (@0, @1, @2, @3)", item, jellybeans, WebSecurity.CurrentUserId, name);
        userBag = db.QuerySingle("SELECT * FROM Bag WHERE BagId = @0", WebSecurity.CurrentUserId);
        db.Execute("UPDATE Bag SET Item1 = NULL WHERE BagId = @0 AND Item1 = @1", WebSecurity.CurrentUserId, item);
        db.Execute("UPDATE Bag SET Item2 = NULL WHERE BagId = @0 AND Item2 = @1", WebSecurity.CurrentUserId, item);
        db.Execute("UPDATE Bag SET Item3 = NULL WHERE BagId = @0 AND Item3 = @1", WebSecurity.CurrentUserId, item);
        db.Execute("UPDATE Bag SET Item4 = NULL WHERE BagId = @0 AND Item4 = @1", WebSecurity.CurrentUserId, item);
        db.Execute("UPDATE Bag SET Item5 = NULL WHERE BagId = @0 AND Item5 = @1", WebSecurity.CurrentUserId, item);
        Response.Redirect("~/Forum");
    }

}


<div class="row">
    <div class="col s2 m5"></div>
    <div class="col "><h1>Forum</h1></div>
</div>


<div>
    <div class="row">
        <div class="col s1 m2"></div>
        <div class="col "><h4>Homework Year one</h4></div>
    </div>
    @if (Roles.IsUserInRole("teacher"))
    {
        <div class="row">
            <div class="container">
                <a class="btn waves-effect light black" href="~/NewHomework">New Homework</a>
            </div>
        </div>
    }
    <div class="row">
        <div>
            <div class=" col m1 l2"></div>
            <div class=" col s12 m10 l8">
                <table>
                    <thead>
                        <tr>
                            <th class="col m5">Title</th>
                            <th class="col m5">Author</th>
                            <th class="col m2" style="text-align:right">Last edited</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var subject in classes)
                        {
                            <tr>
                                <td class="col m5"><a href="~/Homework.cshtml?class=@HttpUtility.UrlEncode(@subject.Class)">Homework @subject.Class</a></td>
                                <td class="col m5">@subject.Teacher</td>
                                <td class="col m2" style="text-align:right">@subject.LastEdited</td>
                            </tr>
                        }

                        @*<tr>
                                <td class="col m5"><a href="~/Homework.cshtml?class=Potions">Homework Potions</a></td>
                                <td class="col m5">Professor Snape</td>
                                <td class="col m2" style="text-align:right">11:41 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5"><a href="~/Homework.cshtml?class=@HttpUtility.UrlEncode("Defence against the dark arts")">Homework Defence against the dark arts</a></td>
                                <td class="col m3">Professor Quirrell</td>
                                <td class="col m4" style="text-align:right">11:41 21-03-2018</td>

                            </tr>
                            <tr>
                                <td class="col m5"><a href="~/Homework.cshtml?class=Transfiguration">Homework Transfiguration</a></td>
                                <td class="col m3">Professor McGonagall</td>
                                <td class="col m4" style="text-align:right">11:51 21-03-2018</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div>
    <div class="row">
        <div class="col s1 m2"></div>
        <div class="col "><h4>General Discussions</h4></div>
    </div>
    <div class="row">
        <div class="container">
            <a class="btn waves-effect light black" href="~/NewPost">New Post</a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class=" col s1 m2"></div>
            <div class=" col s10 m8">
                <table>
                    <thead>

                        <tr>
                            <th class="col m5">Title</th>
                            <th class="col m5">Author</th>
                            <th class="col m2" style="text-align:right">Last edited</th>
                        </tr>


                    <tbody>
                        @foreach (var dis in discussion)
                        {
                            <tr>
                                <td class="col m5"><a href="~/Discussion.cshtml?discussionname=@HttpUtility.UrlEncode(dis.DiscussionName)">@dis.DiscussionName</a></td>
                                <td class="col m5">@dis.UserName</td>
                                <td class="col m2" style="text-align:right">@dis.LastEdited</td>
                            </tr>
                        }

                        @*<tr>
                                <td class="col m5"><a href="~/Discussion.cshtml?discussionname=@HttpUtility.UrlEncode("Your thoughts on the teachers")">Your thoughts on the teachers</a></td>
                                <td class="col m3">D. Onut</td>
                                <td class="col m4" style="text-align:right">11:54 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5"><a href="~/Discussion.cshtml?discussionname=@HttpUtility.UrlEncode("Dumbledore's Army")">Dumbledore's army</a></td>
                                <td class="col m3">H. Potter</td>
                                <td class="col m4" style="text-align:right">11:55 21-03-2018</td>
                            </tr>
                            <tr>
                                <td class="col m5"><a href="~/Discussion.cshtml?discussionname=@HttpUtility.UrlEncode("Best shop in Hogsmeade")">Best shop in Hogsmeade</a></td>
                                <td class="col m3">R. Weasly</td>
                                <td class="col m4" style="text-align:right">11:57 21-03-2018</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col s1 m2"></div>
        <div class="col "><h4>Trading</h4></div>
    </div>
    <div class="row">
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col s3">
                        <select name="item" class="browser-default">
                            <option value=@item1>@item1</option>
                            <option value=@item2>@item2</option>
                            <option value=@item3>@item3</option>
                            <option value=@item4>@item4</option>
                            <option value=@item5>@item5</option>
                        </select>
                    </div>
                    <div class="col s3">
                        <input placeholder="Jellybeans" name="jellybeans" id="jellybeans" type="text" class="validate">
                        <label for="jellybeans">Jellybeans</label>
                    </div>
                </div>
                <input type="submit" class="btn waves-effect light black" value="Sell" />
            </form>
        </div>
    </div>
    <div class="row">
        <div>
            <div class=" col s1 m2"></div>
            <div class=" col s10 m8">
                <table>
                    <thead>
                        <tr>
                            <th class="col m5">Name</th>
                            <th class="col m3">Seller</th>
                            <th class="col m4" style="text-align:right">Buy</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in itemsForSale)
                        {
                            <tr>
                                <th class="col m5">@item.Item</th>
                                <th class="col m3">@item.UserName</th>
                                @if (!(item.UserName == name))
                                {
                                    <th class="col m4" style="text-align:right">@(item.Jellybeans) Jellybeans <form action=@Href("Buy", item.ItemId) method="post"><input type="submit" value="BUY" class="btn black light" /> @Html.Hidden("item", item.Item) @Html.Hidden("jellybeans", item.Jellybeans)</form></th>
                                }
                            </tr>
                            <tr>
                                <th><div class="divider"></div></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div>

</div>