@{
    Page.Title = "Profile";
    Layout = "~/Shared/_SiteLayout.cshtml";

    Database db = Database.Open("StarterSite");

    var house = db.QuerySingle("SELECT House FROM UserProfile WHERE UserId = @0", WebSecurity.CurrentUserId);
    var jellybeans = db.QuerySingle("SELECT Jellybeans FROM StudentInformation WHERE UserId = @0", WebSecurity.CurrentUserId);
    var points = db.QuerySingle("SELECT Points FROM StudentInformation WHERE UserId = @0", WebSecurity.CurrentUserId);
    var classes = db.QuerySingle("SELECT Class1, Class2, Class3, Class4, Class5, Class6, Class7 FROM Classes WHERE ClassesId = @0", WebSecurity.CurrentUserId);
    string userHouse = house.House;
}

<div class="container">
    <div class="row">
        <div class="card">
            <h5 class="center-align">@WebSecurity.CurrentUserName</h5>
            <div class="row">
                <div class="col s12">
                    <div class="card-image col s6 m2 offset-m5">
                        @switch (userHouse)
                        {
                            case ("Gryffindor"):
                                <img src="~/Images/Gryffindor.png" />
                                break;
                            case ("Slytherin"):
                                <img src="~/Images/Slytherin.png" />
                                break;
                            case ("Hufflepuff"):
                                <img src="~/Images/Hufflepuff.png" />
                                break;
                            case ("Ravenclaw"):
                                <img src="~/Images/Ravenclaw.png" />
                                break;
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <h5 class="center-align">Student Information</h5>
            </div>
            <div class="row">
                <div class="col s12 m5 offset-m1">
                    <div class="row">
                        <div class="col s12">
                            <b>Jellybeans:</b> @jellybeans.Jellybeans
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <b>Points:</b> @points.Points
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <b>Known spells:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            None so far
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 offset-m1">
                    <div class="row">
                        <div class="col s12">
                            <b>Classes:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class1
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class2
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class3
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class4
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class5
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class6
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            @classes.Class7
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>